# ignore macOS DS_Store files
.DS_Store
**/.DS_Store
**.tiff
**.tif
**.pickle
CaMKII_model_variations/plotting/Fig14.pdf
autophosporylation/plotting/Fig16.pdf
camkii_only_output_data/plotting/Fig13.pdf
membrane_localization/plotting/05_Membrane_localization.pdf
performance/plotting/Fig17.pdf
snare_complex/plotting/snare_complex.pdf
.idea/
.idea/workspace.xml
